<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <h2>Welcome NodeJs + ejs + mysql App</h2>
      <p>Create an account or login</p>
      <a href="/register" class="btn btn-danger btn-block">注册</a>
      <a href="/login" class="btn btn-secondary btn-block">登陆</a>
    </div>
  </div>
</div>